<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hurry up!</p>
    <p>The price for <strong><%= @tracker.title %></strong> has dropped below <%= @tracker.display_price_euros %>.</p>
    <p>Check the most recent prices <a href="<%= url_for(@tracker) %>">here</a>.</p>
    <p>Have a great day!</p>
    <p><strong>— <a href="<%= root_url %>">Furnitrackr.com</a></strong></p>
  </body>
</html>
