<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hurry up!</p>
    <p>The price for your tracker <strong><%= @tracker.title %></strong> has dropped below your predefined threshold price.</p>
    <p>To login to the site and check the most recent prices, just follow <a href="<%= @url %>">this</a> link.</p>
    <p>Have a great day!</p>
  </body>
</html>
