<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey there! You're almost ready to start using Furnitrackr to keep up with the best deals.</p>
    <p>Click the following link to <a href="<%= @user.email_confirmation_token %>">confirm your e-mail address</a>.</p>
    <p>Have a great day!</p>
    <p><strong>— <a href="<%= root_url %>">Furnitrackr.com</a></strong></p>
  </body>
</html>
