<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A new contact message was submitted through the contact form. Check its content below:</p>
    <hr>
    <p><strong>Sender:</strong> <%= @sender_email %></p>
    <p><%= @message %></p>
  </body>
</html>
