<div id="clearance" class="sign-up">
  <%= render "partials/page_title", title: "Sign up" %>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit 'Sign up', class: 'button is-primary' %>
    </div>
  <% end %>
</div>
