<div id="clearance" class="sign-up">
  <h2 class="title"><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit 'Sign up', class: 'button is-link' %>
    </div>
  <% end %>
</div>
