<div class="columns is-vcentered is-full-height">
  <div class="column is-half is-offset-one-quarter">
    <h1 class="title">Welcome to PriceTacker</h1>
      <p class="subtitle">Track your products and never miss a deal again!</p>

      <div class="field is-grouped">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="Enter a URL">
        </p>
        <p class="control">
          <a class="button is-info">
            Search
          </a>
        </p>
      </div>
  </div>
</div>
