<div class="columns is-vcentered is-full-height">
  <div class="column is-half-desktop ">
    <h1 class="title">Welcome to PriceTacker</h1>
      <p class="subtitle">Track your products and never miss a deal again!</p>
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="Enter a URL">
        </p>
        <p class="control">
          <a class="button is-info">
            Search
          </a>
        </p>
      </div>
  </div>
  <div class="column is-half-desktop">
  <figure class="image homepage-chart">
        <img src="<%= asset_url('undraw_report_mx0a.svg') %>" alt="chart image">
      </figure>
  </div>
</div>
