<section class="hero-container">
  <div class="hero is-primary is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">Welcome to Furnitrackr</h1>
        <hr>
        <h2 class="subtitle">We track your favorite products' price history for you.</h2>
        <%= link_to "Getting started", how_does_it_work_path, class: "button is-info" %>
      </div>
    </div>
  </div>
</section>
