<section class="how-does-it-work">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-2">How does it work?</h2>
        <hr>
        <h3 class="subtitle">
          Our platform tracks the prices of your favourite products and notifies you when then next great deal appears.
        </h3>
        <h3 class="subtitle">Get ready in 3 simple steps:</h3>
      </div>
    </div>
    <div class="steps content">
        <h4 class="title is-4"><i class="fas fa-user-plus"></i> Join us</h4>
        <p>You just need an e-mail address and a password to start using <%= link_to "Furnitrackr", sign_up_path %>.</p>

        <h4 class="title is-4"><i class="fas fa-cogs"></i> Set up your trackers</h4>
        <p>Start tracking multiple products and set the prices at which you would like to buy each one of them.</p>

        <h4 class="title is-4"><i class="fas fa-envelope-open-text"></i> Sit back and relax!</h4>
        <p>Our platform will notify you via e-mail once the price of any of the products you're tracking falls below your predefined goal price.</p>
    </div>
  </div>
</section>
