<%= render "partials/page_title", title: "Editing #{@tracker.title}" %>

<% if @tracker.errors.any? %>
<div class="notification is-danger is-light content">
  <p><strong>There was an error with your submission:</strong></p>
  <ul>
  <% @tracker.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= render 'form', tracker: @tracker %>
