/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$info: #1f2424;
$primary: #436d9a;
$link: #209cee;
$danger: #e74c3c;
$warning: #f1b70e;
$success: #2ecc71;

@import "bulma";

.notification {
  margin-top: 20px;

  &.success {
    @extend .is-success;
  }

  &.error {
    @extend .is-danger;
  }

  &.alert {
    @extend .is-warning;
  }
}


@media (max-width: 1024px) {
  .navbar {
    .navbar-item {
      .button.is-outlined.is-primary.is-inverted {
        color: $primary;
        border-color: $primary;
      }
    }
  }
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    image-url('alexandra-gorn-JIUjvqe2ZHg-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  nav.navbar {
    background-color: transparent;
  }

  .hero-footer .photo-by {
    font-size: 12px;
  }
}

.magical-underline {
  background-image: linear-gradient($primary 0%, $primary 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
}
