// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.how-does-it-work {
  .steps {
    margin-top: 30px;

    h4 {
      margin-top: 45px;

      svg {
        margin-right: 10px;
      }
    }
  }
}
