// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact-us-section {
  margin-top: 50px;
}

.how-does-it-work {
  .card {
    margin-top: 30px;
    box-shadow: none;
  }
}
