// Place all the styles related to the Trackers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.table {
  text-align: center;

  td, th {
    border: none;
  }

  tbody {
    tr {
      height: 50px;
      td {
        vertical-align: middle;
      }
    }
  }
}

.prices-list {
  margin-top: 30px;
}
