// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  .box {
    padding: 3em;

    .columns.steps {
      margin-top: 50px;
    }
  }
}

@media (min-width: 768px) {
  .hero-container {
    margin-bottom: -80px;
  }
}
